body{
  font-weight: "Montserrat";
  text-align: center;
}
#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}
html{
  scroll-behavior: smooth !important;
}
.Container-fluid{
  padding: 7% 15%;
}

#title.Container-fluid{
  padding: 3% 15% 7%;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat";

}

h2{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat-bold";
}

p {
  color: #8f8f8f;
}


/* navbar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Download button */
.download-button{
   margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
   width: 60%;
   transform: rotate(25deg);
   position: absolute;
   right: 30%;
}
.title-h1{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* features-box */

#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.features-box{
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin: 1rem;
}

.icon:hover{
   color: #ff4c68;
}
.features-h3{
 font-family: "Montserrat-bold";
}
/* Testimonials */

#testimonials{
  background-color:  #ef8172;
  color: #fff;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonials-image{
   width: 10%;
   border-radius: 100%;
   margin: 20px;
}

#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.testimonial-h2{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Pricing section */

#pricing{
  padding: 100px;
}
.pricing-column{
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(25deg);
    padding: 15%;
    width: 80%;
  }
}
.pricing-h2{
  font-size: 3.5rem;
  line-height: 1.5;
}

  /* <!-- Call to Action --> */

#cta{
  background-color: #ff4c68;
  color: #fff;
}
.cta-h3{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}

  /* <!-- Footer --> */


.social-icon{
margin: 20px 10px;
}
